{{ define "main" }}
{{ $archive := lower .Title }}

<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column is-9">
                <div class="tile is-child box">
                    <div class="content">
        {{ range $key, $value := .Site.Taxonomies.archives }}{{ if eq $key $archive }}{{ range $value.Pages }}
                        <article class="article">
                            <div class="article_left">
                                <a href="{{ .Permalink }}"><img src="{{ .Params.img }}"></a>
                            </div>

                            <div class="article_right">
                                <a href="{{ .Permalink }}"><h3>{{ .LinkTitle }}</h3></a>
                                <div>
                                    <span class="article_right_author">{{ .Params.author }}</span>
                                    {{ partial "svgs/ico_date.svg" }}
                                    <span class="article_right_date">{{ .Date.Format "2006-01-02" }}</span>
                                    {{ partial "svgs/ico_read.svg" }}
                                    <span id="{{ .Permalink | relURL }}" class="leancloud_visitors" data-flag-title="{{ .LinkTitle }}">
                                        <i class="leancloud-visitors-count"></i>                     
                                    </span>
                                </div>
                                <a href="{{ .Permalink }}"><p>{{ .Params.summary }}...</p></a>
                            </div>
                        </article>
        {{ end }}{{ end }}{{ end }}
                    </div>
                </div>
            </div>
            <div class="column is-3 isPc">
                {{ partial "widget-tags.html" . }}<br>
                {{ partial "widget-recent.html" . }}<br>
                {{ partial "widget-archives.html" . }}
            </div>
        </div>
    </div>
</div>

{{ end }}