{{ range where $.Page.Site.Pages "Type" "iframeurl" }}
{{ if .Params }}
<input id="iframeUrl" type="text" style="display: none;" value={{ .Params.iframeUrl }}>
{{ end }}
{{ end }}
<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
<script src="{{ .Site.BaseURL }}js/flexible.js"></script>
<script>
  if(!document.getElementById("vcomments")) {
    new Valine({
        appId: '{{ .Site.Params.valine.appId }}',
        appKey: '{{ .Site.Params.valine.appKey }}',
        avatar:'{{ .Site.Params.valine.avatar }}',
        visitor: true,
		    meta: ['nick','mail','link']
    });
  }
 
  
    


    const url = document.getElementById("iframeUrl").value;

    function observe (el, options, callback) {
      var MutationObserver = window.MutationObserver || window.WebKitMutationObserver || window.MozMutationObserver
      var observer = new MutationObserver(callback)
      observer.observe(el, options)
    }

    var options = {
        childList: true,
        subtree: true,
        characterData: true
      }
    observe(document.body, options, (records, instance) => {
    const height = document.body.scrollHeight;
    parent.postMessage(height,url);
    })

</script>
</body>
</html>
