{{ range where $.Page.Site.Pages "Type" "iframeurl" }}
{{ if .Params }}
<input id="iframeUrl" type="text" style="display: none;" value={{ .Params.iframeUrl }}>
{{ end }}
{{ end }}
<script defer src="{{ .Site.BaseURL }}js/all.js"></script>
<script src="{{ .Site.BaseURL }}js/flexible.js"></script>
<script>
    if (!document.getElementById("vcomments")) {
        new Valine({
            appId: '{{ .Site.Params.valine.appId }}',
            appKey: '{{ .Site.Params.valine.appKey }}',
            avatar: '{{ .Site.Params.valine.avatar }}',
            visitor: true,
            meta: ['nick', 'mail', 'link']
        });
    }
</script>
</body>
</html>
