{{ $tag := .Title }}
{{ $lan := index (split .URL "/") 1 }}
<div class="card">
    <div class="card-content">
        <h1 class="title is-5 card-tags">Tags</h1>
        <div class="tags">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ if eq ($tag|urlize) ($name|urlize) }}
            <span class="tag"><a href="/{{$lan}}/" class="active">{{ $name }}</a></span>
        {{ else }}
            <span class="tag"><a href="/{{ i18n "blog_tags_url" }}/{{ $name | urlize }}/">{{ $name }}</a></span>
        {{ end }}
        {{ end }}
        </div>          
    </div>
</div>