<div class="card">
    <div class="card-content top-content">
        <h1 class="title is-5 card-tags">Top posts</h1>
        <div class="clone-dom top-dom hide">
            <p><a href="">title</a></p>
            <div class="top-info">
                <img src="/img/icon-author.svg">
                <span class="name">name</span>
                <img src="/img/icon-view.svg">
                <span class="count">count</span>
            </div>  
        </div>
    </div>
</div>
<script src="{{ "js/blog.js" | absURL }}?t={{ mul 1000 (time now).Unix }}"></script>