{{ define "main" }}
{{ partial "detail-banner" }}
<div class="container">
    <div class="columns">
        <div class="is-9 post_detail">
            <div class="tile is-child box">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
            <div class="box" style="margin-top:15px;">
                <div style="font-size:14px;color:gray"><strong>{{ i18n "blog_declare" }}</strong>{{ i18n "blog_declare_content" }}</div>
            </div>
            <div class="post-comment">
                <!-- 加入评论功能 -->
                {{ partial "comments.html" . }}
            </div>
        </div>
        <div class="column is-3">
            {{ partial "widget-tags.html" . }}<br>
            {{ partial "widget-recent.html" . }}<br>
            {{ partial "widget-related.html" . }}<br>
            {{ partial "widget-archives.html" . }}
        </div>
    </div>
</div>



{{ end }}
